:root {
    --col1: 0px;
    --col2: 0px;
    --col3: 0px;

    --row1: 0px;
    --row2: 0px;
    --row3: 0px;


    --col1-const: 0px;
    --col2-const: 0px;
    --col3-const: 0px;

    --row1-const: 0px;
    --row2-const: 0px;
    --row3-const: 0px;
}
