<div class="editor-workspace">
    <div class="editor-workspace__toolbar">
        <ul class="editor-workspace__toolbar-icons">

            @for (tool of tools; track tool.id) {
                <li class="editor-workspace__toolbar-item">
                    <button
                        class="editor-workspace__button"
                        [ngClass]="{
                            'editor-workspace__button--active': currentMenuIcon === tool.id && !isSettingsPanelHidden,
                            'editor-workspace__button--hover-enabled': currentMenuIcon !== tool.id
                          }"
                        (click)="onIconButtonClick(tool.id)"
                        [title]="tool.title"
                        [routerLink]="tool.title.toLowerCase()">

                        <div
                            class="editor-workspace__icon-img"
                            [ngStyle]="{ 'background-image': 'url(' + tool.backgroundImg + ')' }">
                        </div>
                    </button>
                </li>
            }
        </ul>

        <button
            class="editor-workspace__button editor-workspace__settings-button"
            [ngClass]="{
                            'editor-workspace__button--active': currentMenuIcon === settingTool.id && !isSettingsPanelHidden,
                            'editor-workspace__button--hover-enabled': currentMenuIcon !== settingTool.id
                          }"
            (click)="onIconButtonClick(settingTool.id)"
            [title]="settingTool.title"
            [routerLink]="['../editor-advanced-settings']">

            <div
                class="editor-workspace__icon-img"
                [ngStyle]="{ 'background-image': 'url(' + settingsPath + ')' }">
            </div>
        </button>
    </div>

    <div class="editor-workspace__settings-panel">
        <router-outlet></router-outlet>
    </div>
    <div class="editor-workspace__canvas">
        <app-canvas></app-canvas>
    </div>

</div>
