<div class="settings">

    <div class="settings__header"> {{ title }} </div>

    <div class="settings__divider">
        <hr>
    </div>

    <form [formGroup]="settingsForm" class="design-form">
        <!-- Default Mesh Color -->
        <label class="form__label form__label--defaultMeshColor"  for="defaultMeshColor">Default Mesh Color:</label>
        <input
            id="defaultMeshColor"
            class="color-picker-input form__input form__input--defaultMeshColor"
            cpColorPicker
            [(colorPicker)]="settingsForm.value[settingsEnum.DefaultMeshColor]"
            (colorPickerChange)="onColorChange(settingsEnum.DefaultMeshColor, $event)"
            [style.background]="settingsForm.value[settingsEnum.DefaultMeshColor]"
            formControlName="{{ settingsEnum.DefaultMeshColor }}"
            type="text"
        />

        <!-- Hover Mesh Color -->
        <label class="form__label form__label--hoverMeshColor" for="hoverMeshColor">Hover Mesh Color:</label>
        <input
            id="hoverMeshColor"
            class="color-picker-input form__input form__input--hoverMeshColor"
            cpColorPicker
            [(colorPicker)]="settingsForm.value[settingsEnum.HoverMeshColor]"
            (colorPickerChange)="onColorChange(settingsEnum.HoverMeshColor, $event)"
            [style.background]="settingsForm.value[settingsEnum.HoverMeshColor]"
            formControlName="{{ settingsEnum.HoverMeshColor }}"
            type="text"
        />

        <!-- Active Mesh Color -->
        <label lass="form__label form__label--activeMeshColor" for="activeMeshColor">Active Mesh Color:</label>
        <input
            id="activeMeshColor"
            class="color-picker-input form__input form__input--activeMeshColor"
            cpColorPicker
            [(colorPicker)]="settingsForm.value[settingsEnum.ActiveMeshColor]"
            (colorPickerChange)="onColorChange(settingsEnum.ActiveMeshColor, $event)"
            [style.background]="settingsForm.value[settingsEnum.ActiveMeshColor]"
            formControlName="{{ settingsEnum.ActiveMeshColor }}"
            type="text"
        />

        <!-- Wireframe Color -->
        <label class="form__label form__label--wireframeColor" for="wireframeColor">Wireframe Color:</label>
        <input
            id="wireframeColor"
            class="color-picker-input form__input form__input--wireframeColor"
            cpColorPicker
            [(colorPicker)]="settingsForm.value[settingsEnum.WireframeColor]"
            (colorPickerChange)="onColorChange(settingsEnum.WireframeColor, $event)"
            [style.background]="settingsForm.value[settingsEnum.WireframeColor]"
            formControlName="{{ settingsEnum.WireframeColor }}"
            type="text"
        />

        <!-- Default Sphere Color -->
        <label class="form__label form__label--defaultSphereColor" for="defaultSphereColor">Default Sphere Color:</label>
        <input
            id="defaultSphereColor"
            class="color-picker-input form__input form__input--defaultSphereColor"
            cpColorPicker
            [(colorPicker)]="settingsForm.value[settingsEnum.DefaultSphereColor]"
            (colorPickerChange)="onColorChange(settingsEnum.DefaultSphereColor, $event)"
            [style.background]="settingsForm.value[settingsEnum.DefaultSphereColor]"
            formControlName="{{ settingsEnum.DefaultSphereColor }}"
            type="text"
        />

        <!-- Draggable Sphere Color -->
        <label class="form__label form__label--draggableSphereColor" for="draggableSphereColor">Draggable Sphere Color:</label>
        <input
            id="draggableSphereColor"
            class="color-picker-input form__input form__input--draggableSphereColor"
            cpColorPicker
            [(colorPicker)]="settingsForm.value[settingsEnum.DraggableSphereColor]"
            (colorPickerChange)="onColorChange(settingsEnum.DraggableSphereColor, $event)"
            [style.background]="settingsForm.value[settingsEnum.DraggableSphereColor]"
            formControlName="{{ settingsEnum.DraggableSphereColor }}"
            type="text"
        />



        <label class="form__label form__label--meshOpacity" for="meshOpacity">Mesh Opacity:</label>
        <input
            id="meshOpacity"
            class="form__input form__input--meshOpacity"
            type="range"
            min="0"
            max="1"
            step="0.01"
            [value]="settingsForm.value[settingsEnum.MeshOpacity]"
            (input)="onOpacityChange($event)"

        />
        <span>{{ settingsForm.value[settingsEnum.MeshOpacity] }}</span>


    </form>



    <div class="settings__divider">
        <hr>
    </div>
</div>
