.editor-workspace {
    width: 100vw;
    height: 100%;
    display: grid;




    grid-template-columns: var(--col1) var(--col2) var(--col3);
    grid-template-rows: 1fr;
    grid-template-areas:
        'icons settings canvas';

    &__toolbar {
        background: #2E3440;
        grid-area: icons;
    }

    &__toolbar-icons {
        display: grid;
    }

    &__toolbar-item {

    }

    &__settings-panel {
        background: #3B4453;
        grid-area: settings;

    }




    &__canvas {
        background: #212830;
        grid-area: canvas;
    }
}
