<div class="settings">

    <div class="settings__header"> {{ title }} </div>

    <div class="settings__divider">
        <hr>
    </div>


    <div class="settings__view-buttons">
        @for (button of viewButtons; track button.number) {
            <app-view-button
                [buttonNumber]="button.number"
                [buttonTitle]="button.title"
                [cameraPosition]="button.cameraPosition">
            </app-view-button>
        }
    </div>


    <div class="settings__divider">
        <hr>
    </div>
</div>
