<div class="navbar">
    <div class="navbar__logo">CAD-Editor</div>

    <nav class="navbar__navigation">
        <ul class="navbar__menu">
            <li class="navbar__menu-item">
                <a class="navbar__menu-link" routerLink="about">About</a>
            </li>
            <li class="navbar__menu-item">
                <a class="navbar__menu-link" routerLink="home">Home</a>
            </li>
            <li class="navbar__menu-item">
                <a class="navbar__menu-link" routerLink="editor">Editor</a>
            </li>
            <li class="navbar__menu-item">
                <a class="navbar__menu-link" routerLink="profile">Profile</a>
            </li>
        </ul>
    </nav>
</div>
